/*Paleta de color utilizada: */
/* .Corporate-Orange--Blue-1-hex { color: #3C5282; }
.Corporate-Orange--Blue-2-hex { color: #90BDD4; }
.Corporate-Orange--Blue-3-hex { color: #B7DEEB; }
.Corporate-Orange--Blue-4-hex { color: #D1EBEB; }
.Corporate-Orange--Blue-5-hex { color: #F26100; }
 */

* {
  -webkit-box-sizing: border-box;
  /* con estas 3 lineas se tiene en cuenta el ancho total del elemento al definir sus dimensiones, con padding y borde*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #3C5282;
}

body {
  font-family: 'Roboto', sans-serif;   /* roboto y una fuente por defecto por si no carga bien*/
  width: 90%;
  color: #340b3f;
  background-color: #90BDD4;
  border-radius: 5px;
  border-color: #170222;
  margin: 10px auto;
  overflow-y: auto;
  word-break: break-word; /* divide los enlaces en diferentes lineas si lo requiere la maquetación*/
}

.to_top{
  visibility: hidden;
}

#top {
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0); /*invisibles barras*/
  margin: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #1e0c61;
  border-style: none none none solid;
  border-width: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 25px;
}

#top a {
  display: inline-block;
  padding: 2px;
  letter-spacing: 3px;
  font-size: 1.5em;
}

.need .media{
  /* float: left;
	clear: left; */
  max-width: 85%;
  max-height: 90%;
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.section {
  width: 100%;
  padding: 25px;
  /* display: inline-block; */
}

.section .need,
#Tecnologias .subsection{
  /* float: left;
	margin-left: 3%;
	margin-top: 2%;*/
  /* width: 30%; */
  flex: 30%;
  padding: 10px;
  margin: 10px;
  flex-shrink: 10;
  background-color: #3C5282;
  color: #D1EBEB;
  text-align: justify;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  /*prefijos para compatibilidad con navegadores*/
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow-y: auto;

}

.section .need:hover,
#Tecnologias .subsection:hover {
  background-color: #283757;
  -webkit-transition: 0.3s;
  /*prefijos para compatibilidad con navegadores*/
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

}

.need .separador {
  border: 5px solid #B7DEEB;
  border-radius: 12px;
  margin: 0px 5px 0px 5px;
  border-style: solid;
}

#Necesidades, #Tecnologias {
  text-align: justify;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
  color: rgb(28, 36, 39);
  /* display: inline-block; */
}

#top a:link {
  font-weight: bold;
  text-decoration: none;
  color: #dec9e4;
  -webkit-transition: 0.3s;
  /*prefijos para compatibilidad con navegadores*/
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#top a:visited{  /*para que no cambie su color al ser activado una vez*/
  font-weight: bold;
  text-decoration: none;
  color: #dec9e4;
  -webkit-transition: 0.3s;
  /*prefijos para compatibilidad con navegadores*/
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#top a:hover,
#top a:focus {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #4a626e;
  color: #dec9e4;
  border-radius: 9px;
}





@media screen and (max-width: 800px) {
  .section .need {
    float: left;
		margin-left: 3%;
		margin-top: 2%;
		padding: 10px;
		width: 44%;
		color: #d6bde2;
		text-align: justify;
		border-radius: 10px;
    flex: 40%;
  }
}

@media screen and (max-width: 600px) {

  body{
    margin: auto;
    width: 98%;
  }
  
  .section .need {
    float: left;
		margin-left: 3%;
		margin-top: 2%;
		width: 95%;
		color: #d6bde2;
		text-align: justify;
		border-radius: 10px;
    flex: 90%;
    padding: 10px;
    margin-left: 0%;
    margin-right: 0%;    
  }
  #top {
    text-align: center;
    text-transform: uppercase;
    /* font-size: 25px; */
    /* font-color:  */
    color: rgba(255, 255, 255, 0);
    /* barras invisibles*/
    /* width: 100%; */
    margin: auto;
    top: 0;
    border-style: none none none solid;
    border-width: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
  }

  #top a {
    /* display: inline-block; */
    padding: 2px;
    letter-spacing: 1px;
    font-size: 1em;
  }
}