* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #c77100;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #0f110c;
  background-image: linear-gradient(to bottom, #ff9100, #dd7d00);
  overflow-y: auto;
  word-break: break-word;
}

.to_top {
  visibility: hidden;
}

#top {
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0);
  margin: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #F48B01;
  border-style: none none solid none;
  border-width: 5px;
  border-color: #c77100;
  padding: 25px;
}

#top a {
  display: inline-block;
  padding: 2px;
  color: white;
  letter-spacing: 3px;
  font-size: 1.5em;
}


#top a:link {
  font-weight: bold;
  text-decoration: none;
  color: #6621c0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#top a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #6c25c9;
  -webkit-transition: 0.3s;
  /*prefijos para compatibilidad con navegadores*/
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#top a:hover,
#top a:focus {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #4a626e;
  color: #4C08A8;
  border-radius: 9px;
}



.need .media {
  max-width: 70%;
  max-height: 40em;
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.section {
  width: 100%;
  padding: 25px;
}


#Tecnologias .subsection a {
  color: #e2d1eb;
}


.need .separador {
  visibility: hidden;
}

#Necesidades,
#Tecnologias {
  text-align: justify;
  display: block;
  justify-content: space-between;
}

a {
  color: rgb(28, 36, 39);
}



.section .need,
#Tecnologias .subsection {
  flex: 30%;
  padding: 25px;
  margin: 5px;
  flex-shrink: 10;
  background-color: #18F550;
  color: #0f110c;
  text-align: justify;
  border-color: #4C08A8;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow-y: auto;

}

.section .need:hover,
#Tecnologias .subsection:hover {
  background-color: #19db4a;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

} 



@media screen and (max-width: 800px) {
  #top {
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    top: 0;
    border-style: none none none solid;
    border-width: 5px;
    padding: 10px;
  }

  #top a {
    padding: 2px;
    letter-spacing: 1px;
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {

  body {
    margin: auto;
    width: 98%;
  }

  .section {
    width: 100%;
    padding: 5px;
  }


  #top {
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    top: 0;
    border-style: none none none solid;
    padding: 10px;
  }

  #top a {
    padding: 2px;
    letter-spacing: 1px;
    font-size: 1em;
  }
}