
* {
  -webkit-box-sizing: border-box;
  /* con estas 3 lineas se tiene en cuenta el ancho total del elemento al definir sus dimensiones, con padding y borde*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #612940;
}

a {
  color: rgb(28, 36, 39);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #0f110c;
  background-color: #e2e2e2;
  margin: 10px auto;
  overflow-y: auto;
  word-break: break-word;
  /* divide los enlaces en diferentes lineas si lo requiere la maquetación*/
}

.need .media {
  max-width: 70%;
  max-height:40em;
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.section {
  width: 100%;
  padding: 25px;
}


#Tecnologias .subsection a{
  color: #e2d1eb;
}


.need .separador {
  visibility: hidden;
}

#Necesidades, 
#Tecnologias {
  text-align: justify;
  display: block;
  justify-content: space-between;
}


.to_top {
  visibility: hidden;
}

#top {
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0);
  margin: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #612940;
  border-style: none none none solid;
  border-width: 5px;
  padding: 25px;
}

#top a {
  display: inline-block;
  padding: 2px;
  letter-spacing: 3px;
  font-size: 1.5em;
}


#top a:link {
  font-weight: bold;
  text-decoration: none;
  color: #dec9e4;
  -webkit-transition: 0.3s;
  /*prefijos para compatibilidad con navegadores*/
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#top a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #dec9e4;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#top a:hover,
#top a:focus {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #4a626e;
  color: #dec9e4;
  border-radius: 9px;
}




.section .need,
#Tecnologias .subsection {
  flex: 30%;
  padding: 25px;
  margin: 5px;
  flex-shrink: 10;
  background-color: #9D6381;
  color: #0f110c;
  text-align: justify;
  border-color: #612940;
  border-width: 3px;
  border-style: solid;
  -webkit-transition: 0.3s;
  /*prefijos para compatibilidad con navegadores*/
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow-y: auto;

}



@media screen and (max-width: 800px) {
  #top {
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    top: 0;
    border-style: none none none solid;
    border-width: 5px;
    padding: 10px;
  }

  #top a {
    padding: 2px;
    letter-spacing: 1px;
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {

  body {
    margin: auto;
    width: 98%;
  }

  .section {
    width: 100%;
    padding: 5px;
    /* display: inline-block; */
  }

  
  #top {
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    top: 0;
    border-style: none none none solid;
    padding: 10px;
  }

  #top a {
    padding: 2px;
    letter-spacing: 1px;
    font-size: 1em;
  }
}