*{
  margin : 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background: linear-gradient(to right, #FFA8F4, #8ecdff); */
}

body{
  margin: 0;
  padding: 0;
  background: url(/images/tokyo.jpg) no-repeat;
  background-size: cover;
}

.box{
   
}